examen.dtd

<!ELEMENT examen(titre,date,questions)>
<!ELEMENT titre(#PCDATA)>
<!ELEMENT date EMPTY>
<!ATTLIST date mois(Janv|Fev|Mars|Avr|Mai|Juin|Juil|Aout|Sept|Oct|Nov|Dec)#REQUIRED annee CDATA #REQUIRED>
<!ELEMENT questions(question,question,question,question,question,question?)>
<!ELEMENT question(partie+)>
<!ELEMENT partie(#PCDATA|partie)*>
