examen.dtd

<!ELEMENT examen(titre,date,questions)>
<!ATTLIST examen code NMTOKEN #REQUIRED>
<!ELEMENT titre(#PCDATA)>
<!ELEMENT date EMPTY>
<!ATTLIST date mois(Janvier|Fevrier|Mars|Avril|Mai|Juin|Juillet|Aout|Septembre|Octobre|Novembre|Decembre)#REQUIRED annee CDATA #REQUIRED>
<!ELEMENT questions(question,question,question,question,question,question?)>
<!ELEMENT question(partie+)>
<!ELEMENT partie(#PCDATA|partie)*>
